@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --site-black: hsl(0, 0%, 8%);
    --site-white: hsl(0, 0%, 98%);
    --font-grey: hsl(0, 0%, 41%);

    --font-w-normal: 500;
    --font-w-bold: 700;
}


body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    background-color: var(--site-white);
}

header {
    width: 100%;
}

nav {
    display: flex;
    padding: 2em;
    gap: 1rem;
    align-items: center;
    color: var(--font-grey);
}


.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

nav a {
    color: inherit;
    text-decoration: none;
}

.header-dropdown {
    white-space: nowrap;
}

nav a:hover,
.header-dropdown:hover {
    color: var(--site-black);
    cursor: pointer;
}

.header-right,
.header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-left:nth-child(1),
.header-left:nth-child(2) {
    gap: 3rem;
}

.dropdown-menu {
    transform-origin: top;
    list-style-type: none;
    background-color: white;
    padding: 1rem;
    display: none;
    line-height: 50px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: .8rem;
}


.visible {
    display: block;
    position: absolute;
    transform-origin: top;
    max-height: 250px;
}

.hamburger-menu {
    background-color: inherit;
    display: none;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.burger {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.burger,
.burger:before,
.burger:after {
    padding: 0;
    background-color: var(--font-grey);
    width: 80%;
    height: 8px;
    transition: margin .1s .2s, transform .2s;
}

.burger:before,
.burger:after {
    margin: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.burger:before {
    margin-top: -12px;
}

.burger:after {
    margin-top: 12px;
}

.open .burger {
    transform: rotate(45deg);
}

.open .burger,
.open .burger:before,
.open .burger:after {
    transition: margin .2s, transform .1s .2s;
}

.open .burger:before,
.open .burger:after {
    margin-top: 0;
}

.open .burger:after {
    transform: rotate(-90deg)
}


.big-btn {
    border-radius: 1.2rem;
    font-family: "Hanken Grotesk";
    font-size: 18px;
}

.big-btn:hover {
    cursor: pointer;
}

.reg-btn {
    padding: .8rem 1.5rem;
    background-color: inherit;
    color: var(--font-grey);
    font-weight: var(--font-w-normal);
    border: 1px solid black;
}

.reg-btn:hover {
    outline: 2px solid black;
    color: var(--site-black);
}

.learn-btn {
    background-color: var(--site-black);
    color: var(--site-white);
    font-weight: var(--font-w-bold);
    padding: 1rem 1.5rem;
    border: 0px;
}

.learn-btn:hover {
    color: var(--site-black);
    background-color: var(--site-white);
    outline: 1px solid black;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-rows: minmax(0px,1fr);
    padding: 2em;
}

@media screen and (max-width: 55rem) {
    .big-btn {
        border-radius: 100vw;
        padding: 1rem 3rem;
    }

    .hamburger-menu {
        display: flex;
    }

    .header-links {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }
}
